.iconpicker-popover.popover .popover-title input[type=search].iconpicker-search {
    width: -webkit-fill-available;
}
.tgl-skewed + .tgl-btn {
    width: 73px;
}
.form-control {
	margin-bottom: 5px;
}
.select2-container--default 
.select2-selection--single, 
.select2-selection .select2-selection--single {
    margin-bottom: 5px;
}
.tgl-skewed + .tgl-btn {
	margin-bottom: 5px;
}
button, input, select, textarea {
    margin-bottom: 5px;
}

input[type="checkbox"], input[type="radio"] {
    /*margin-bottom: 15px;*/
}
.users-list>li img {
    height: 65px;
}

/*order page*/
.view-order {
	padding: 30px 20px 0 20px;
	background-color: #ECF0F5;
	margin-bottom: 40px;
}
.order-invoice {
	margin-bottom: 10px;
	font-size: 18px;
}
.user-ordered {
	padding: 30px 20px;
}
.view-instructor {
	padding: 30px 20px;
	background-color: #ECF0F5;
	margin-bottom: 30px;
}
.instructor-detail ul li{
	margin-bottom: 10px;
}
.mailbox-read-message {
	padding: 30px 0;
}
.text-right {
	text-align: right;
}
.navbar:before {
	display: unset;
	content: " ";
}
body .ui-datepicker .ui-datepicker-prev,
body .ui-datepicker .ui-datepicker-next {
    width: 2.6em;
}

body .ui-datepicker .ui-datepicker-prev span.ui-icon.ui-icon-circle-triangle-w,
body .ui-datepicker .ui-datepicker-next span.ui-icon.ui-icon-circle-triangle-e {
    background: none;
    overflow: visible;
    text-indent: 0;
    width: initial;
    left: 30%;
}
sup.redstar {
	color: #FF0000;
}
.redstar {
	color: #FF0000;
}

.alert-success {
	text-align:center; z-index: 1; margin-top: 5px;
}
.alert-danger {
	text-align:center; z-index: 1; margin-top: 5px;
}
.display-inline {
	display: inline;
}
.display-none {
	display: none;
}
.display-inline-flex {
	display: inline-flex;
}
.sidebar .user-panel img {
	height: 45px;
}
.table td img {
	width: 60px;
	height: 60px;
}
.box-body img {
	width: 90px;
	height: 90px;
}
.instructor-detail ul li img {
	width: 90px;
	height: 90px;
}
.logo-invoice img {
	width: 120px;
	height: 40px;
}
.logo-settings img {
	width: 120px;
	height: 40px;
}
.favicon-settings {
	width: 50px;
	height: 30px;
}
.update-password label {
	font-size: 18px;
	vertical-align: top;
}
.update-password input {
	width: 20px;
	height: 20px;
}
.social-profile label {
	font-size: 18px;
	vertical-align: top;
}
.social-profile input {
	width: 20px;
	height: 20px;
}
.box-body video {
	width: 200px;
	height: 150px;
}

.edit-user-img img {
	width: 100px;
	height: 100px;
}

.language .btn-primary {
	padding: 11px;
	font-size: 20px;
	border: none;
}
.language .btn-primary:hover {
	border: none;
	border-radius: none;
}

td form .btn-danger {
	display: inline-block;
	float: left;
	margin-right: 7px;
}
td .btn-primary {
	display: inline-block;
	float: left;
	margin-right: 7px;
}
td .btn-success {
	display: inline-block;
	float: left;
	margin-right: 7px;
}
.sidebar {
	background: #0284A2;
    color: rgb(255, 255, 255);
}
.skin-blue .main-header .logo{
	background-color: #FFF;
}
.skin-blue .main-header .navbar {
	background-color: #F44A4A;
}
.btn-primary {
	background-color: #F44A4A;
	border-color: #F44A4A;
} 
.btn-primary:hover {
    background: #992337;
	border-color: #992337;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
	background: rgba(0,0,0,0.1);
}
.skin-blue .sidebar-menu>li>.treeview-menu {
	background-color: #003845;
}
.skin-blue .sidebar-menu>li.header {
    color: #FFF;
    background: #F44A4A;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
	color: #FFF;
}
.skin-blue .sidebar a {
	color: #FFF;
}
.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #FFF;
}
.skin-blue .sidebar-menu>li:hover>a, 
.skin-blue .sidebar-menu>li.active>a, 
.skin-blue .sidebar-menu>li.menu-open>a {
	background-color: #003845;
}
.main-footer {
	background-color: #F44A4A;
	color: #FFF;
}
.bg-red, .callout.callout-danger, 
.alert-danger, .alert-error, .label-danger, 
.modal-danger .modal-body {
	background-color: #F44A4A !important;
}
td form .btn-danger {
	background-color: #F44A4A !important;
}
.tgl-skewed + .tgl-btn {
	background-color: #F44A4A !important;
}
.tgl-skewed:checked + .tgl-btn {
    background-color: #86d993 !important;
}
.inputfile-1 + label {
    color: #FFF;
    background-color: #F44A4A !important;
}
.content-wrapper {
    background-color: #DEDFE0;
}
.btn-info {
	background-color: #0284A2;
}
.btn-info:hover, .btn-info:active, .btn-info.hover {
	background-color: #003845;
}
.bg-navy {
    background-color: #0284A2 !important;
}
.box.box-primary {
    border-top-color: #0284A2 !important;
}
.skin-blue .main-header li.user-header {
    background-color: #0284A2;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
	color: #FFF !important;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #0284A2 !important;
    padding: 10px;
}

.sortable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    .thumbnails-list{
        cursor: pointer;
    }

}

.sortable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.select2-container {
    width: 100% !important;
    padding: 0;
}
.feature-image {
	display: inline-flex;
	vertical-align: top;
	margin-right: 10px;
}

.inline input[type="checkbox"], 
.inline input[type="radio"] {
    width: 20px;
    height: 20px;
    vertical-align: sub;
}

.eyeCy{
        position:relative;
    }
    .eyeCy .fa-eye{
        position:absolute;
        top:36px;
        right:7px;
        font-size:15px
    }

    .fa-eye-slash,
    .eyeCy.fa-eye{
        position:absolute;
        top:35px;right:7px;
        font-size:15px
    }

@media (max-width: 767px)
{
	.skin-blue .main-header .navbar .dropdown-menu li a {
	     color: #777 !important; 
	}
}
